In [1]:
println("Hello World!!, I am SiranGuru starting to work on Julia Programming")

Hello World!!, I am SiranGuru starting to work on Julia Programming

In [12]:
print("Hello world")

Hello world

The ln is to denote printing onto a new line

In [13]:
println("I'm excited to learn Julia!")

I'm excited to learn Julia!

In [14]:
my_answer = 42
typeof(my_answer)

Int64

In [15]:
my_pi = 3.14
typeof(my_pi)

Float64

In [17]:
ðŸ˜¸ = "smiley cat"
typeof(ðŸ˜¸)

String

 To type in the smily emoji follow the below mentioned instructions
 \:smi + tab -----> then select the emoji ----> press enter -----> tab + enter (to convert the mentioned statement to the emoji) to complete

In [18]:
# to write a comment

In [21]:
ðŸ˜¸ = 1# we can re assign the variable to a new value

1

In [22]:
typeof(ðŸ˜¸)

Int64

In [24]:
ðŸ¥š = 0
ðŸ˜„ = 1
ðŸ¥š + ðŸ˜„ == ðŸ˜¸

true

In [26]:
#= 

you can write multi line comments
use the '#= =#' sequence

=#

Syntax for basic math

In [27]:
sum = 3+7

10

In [28]:
difference = 10 - 3

7

In [29]:
product = 20*5

100

In [30]:
quotient = 100/10

10.0

In [31]:
power = 10^2

100

In [32]:
modulus = 101%2

1

Exercise

In [33]:
# https://docs.julialang.org/en/v1/base/base/#Base.convert
days = 365
days_float = convert(Float64, days)

365.0

In [39]:
convert(Int64, "1")

LoadError: MethodError: Cannot `convert` an object of type String to an object of type Int64

Closest candidates are:
  convert(::Type{T}, ::T) where T<:Number
   @ Base number.jl:6
  convert(::Type{T}, ::T) where T
   @ Base Base.jl:84
  convert(::Type{T}, ::AbstractChar) where T<:Number
   @ Base char.jl:185
  ...

In [41]:
convert(Int64, '1')

49

In [40]:
parse(Int64, "1")

1

In [42]:
#https://docs.julialang.org/en/v1/base/numbers/#Base.parse